<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renchaigao.fangpu.dao.mapper.MyTermsMapper" >
  <resultMap id="BaseResultMap" type="com.renchaigao.fangpu.dao.MyTerms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="alltermlist" property="alltermlist" jdbcType="VARCHAR" />
    <result column="termnum" property="termnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, alltermlist, termnum
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from myterms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from myterms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renchaigao.fangpu.dao.MyTerms" useGeneratedKeys="true" keyProperty="id">
    insert into myterms (id, userid, alltermlist, 
      termnum)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{alltermlist,jdbcType=VARCHAR}, 
      #{termnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.renchaigao.fangpu.dao.MyTerms" useGeneratedKeys="true" keyProperty="id">
    insert into myterms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="alltermlist != null" >
        alltermlist,
      </if>
      <if test="termnum != null" >
        termnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="alltermlist != null" >
        #{alltermlist,jdbcType=VARCHAR},
      </if>
      <if test="termnum != null" >
        #{termnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renchaigao.fangpu.dao.MyTerms" >
    update myterms
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="alltermlist != null" >
        alltermlist = #{alltermlist,jdbcType=VARCHAR},
      </if>
      <if test="termnum != null" >
        termnum = #{termnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renchaigao.fangpu.dao.MyTerms" >
    update myterms
    set userid = #{userid,jdbcType=INTEGER},
      alltermlist = #{alltermlist,jdbcType=VARCHAR},
      termnum = #{termnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>